<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Top Padding</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>kUseCustomYPadding</string>
			<key>label</key>
			<string>Custom top padding</string>
			<key>defaults</key>
			<string>com.muirey03.13hud</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>500</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>20</integer>
			<key>default</key>
			<real>75</real>
			<key>defaults</key>
			<string>com.muirey03.13hud</string>
			<key>key</key>
			<string>kYPadding</string>
			<key>PostNotification</key>
			<string>com.muirey03.13hud-prefsChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>kUseCustomHeight</string>
			<key>label</key>
			<string>Custom height</string>
			<key>defaults</key>
			<string>com.muirey03.13hud</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>300</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>30</integer>
			<key>default</key>
			<real>150</real>
			<key>defaults</key>
			<string>com.muirey03.13hud</string>
			<key>key</key>
			<string>kHeight</string>
			<key>PostNotification</key>
			<string>com.muirey03.13hud-prefsChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>15</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>17</integer>
			<key>default</key>
			<real>50</real>
			<key>defaults</key>
			<string>com.muirey03.13hud</string>
			<key>key</key>
			<string>kWidth</string>
			<key>PostNotification</key>
			<string>com.muirey03.13hud-prefsChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Timeout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.5</real>
			<key>max</key>
			<real>2.5</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>8</integer>
			<key>default</key>
			<real>1.5</real>
			<key>defaults</key>
			<string>com.muirey03.13hud</string>
			<key>key</key>
			<string>kTimeout</string>
			<key>PostNotification</key>
			<string>com.muirey03.13hud-prefsChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Collapse timeout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.5</real>
			<key>max</key>
			<real>2.5</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>8</integer>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.muirey03.13hud</string>
			<key>key</key>
			<string>kCollapseTimeout</string>
			<key>PostNotification</key>
			<string>com.muirey03.13hud-prefsChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>kHideRinger</string>
			<key>label</key>
			<string>Hide ringer indicator</string>
			<key>defaults</key>
			<string>com.muirey03.13hud</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Muirey03</string>
		    <key>user</key>
		    <string>Muirey03</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Source code</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub Repository</string>
			<key>url</key>
			<string>https://github.com/Muirey03/13HUD</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Buy me a coke</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Send me a donation</string>
			<key>url</key>
			<string>https://www.paypal.me/Muirey03Dev</string>
		</dict>
	</array>
	<key>title</key>
	<string>13HUD</string>
</dict>
</plist>
